{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Product{% endif %}
{% endblock %}

{% block content %}
<div class="sidebar">
    <h3>Категории</h3>
        <ul class="nav-bar">
            <li {% if not category %}class="selected"{% endif %}>
            {% url "shop:product_list" %}
                <a href="{% url "shop:product_list" %}">ВСЕ</a>
            </li>
             {% for c in categories %}
                 <li {% if category.slug == c.slug %} class="selected"{% endif %}>
                     <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                 </li>
             {% endfor %}
        </ul>

</div>

<form action="http://127.0.0.1:8000/api/" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Введите логин" name="Login"><br><br>
    <input type="password" placeholder="Введите пароль" name="Password"><br><br>
    <button>Отправить</button><br><br>
</form>



    <div id="main" class="product-list">
        <h1> {% if category %}{{ category.name }}{% else %}Продукты{% endif %}</h1>
         {% for product in products %}


             <div class="item">
                <div>
                 <a href="{{ product.get_absolute_url }}">
                     <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="item-img">
                 </a>
                </div>
             <div class="item-text">
                  <h3>{{ product.name }}</h3>
                 <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                 <h3>${{ product.price }}</h3>
                 <div class="text-prev">{{ product.description }}</div>
             </div>
             </div>

         {% endfor %}

    </div>

{% endblock %}